__MACOSX

apple-clone-v10/@ipad-stroke-effect
apple-clone-v10/@simple-version

apple-clone-v10/css/main.css


apple-clone-v10/images

apple-clone-v10/js/main-add.js
apple-clone-v10/js/main-imgload.js
apple-clone-v10/js/main.js
apple-clone-v10/js/main2.js


apple-clone-v10/sample-folder

apple-clone-v10/video
apple-clone-v10/videotest